{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.5.0"></script>
        <link rel='stylesheet' href='{% static "recipes/recipes-htmx.css" %}' />
    </head>
    <body>
        <h1>Hello World</h1>

        {% static "recipes/recipes-htmx.css" %}
        
        {% include 'search/search-form.html' %}

        {% block content %}
        <h3>This will be replaced</h3>
        {% endblock content %}


        <script>
            document.body.addEventListener("htmx:configRequest", (event)=>{
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
            })
        </script>
    </body>
</html>