<div id='recipe-container'>
<form action='.' method="POST" hx-post='.' hx-swap='outerHTML' hx-trigger='{% if form.instance.id %}change delay:500ms,{% endif %} submit'>
    {% csrf_token %}
    
   {% for field in form %}
   <div class='{% if field.field.required %}{{ form.required_css_class }}{%endif%}'>
    {{ field.errors }}   
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    </div>
   {% endfor %}


    
    <div class='htmx-indicator'>Loading...</div>
    <button class='htmx-inverted-indicator' style='margin-top:10px;' type='submit' >Save</button>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <a href='{{ object.get_delete_url }}'>Delete</a> 
</form>
</div>